@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1649582476593') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-down:before {
  content: "\e7eb";
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-close-bold:before {
  content: "\e685";
}

